// @import './custom';
@import './mixins';
@import './responsive';
@import "./variables";

@import "../block/header";
@import '../block/slideshow';
@import '../block/editorial';

* {
  box-sizing: border-box;
  margin: 0px;
} 

  .hamburguer {
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: black;
    height: 100px;
    color: white;
  }
